
/** 
 ** customized a table with 3 columns **
**/
table.col-3, th, td {
border: 1px solid black;
border-collapse: collapse;
font-size: 14px;
}

table.col-3 tr{
width: 100%;
}

table.col-3 tr td:nth-child(1),  
table.col-3 tr th:nth-child(1){
width : 25%;
}

table.col-3 tr td:nth-child(2),
table.col-3 tr th:nth-child(2){
width: 60%;
}

table.col-3 tr td:nth-child(3),
table.col-3 tr th:nth-child(3),
{
width: 15%;
}

/** 
 ** highlight keyword with light background **
**/
.code {
    margin: 0 !important;
    padding: 2px 4px;
    color: #c0341d;
    display:inline-block;
    background-color: #fbe5e1;
    border-radius: 3px;
}